# Ignorar dependencias instaladas
node_modules

# Archivos de entorno sensibles
.env

# Logs y cachés
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de pruebas (si no se usan en producción)
tests/
__tests__/
coverage/

# Archivos de configuración local
.vscode/
.idea/
*.swp